{% extends "base.html" %}{% block content %}
<div class="card bg-dark-subtle border-secondary">
  <div class="card-body">
    <h1 class="h3">Profile</h1>
    {% if request.user.avatar %}<img
      src="{{ request.user.avatar.url }}"
      class="avatar-lg mb-3"
      alt="Avatar"
    />{% endif %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}{{ form.as_p }}<button
        class="btn btn-success"
        type="submit"
      >
        Save Profile
      </button>
    </form>
  </div>
</div>
{% endblock %}
