{% extends "base.html" %}{% block content %}
<div class="auth-card mx-auto">
  <h1 class="h3 mb-3">Verify email</h1>
  <form method="post">
    {% csrf_token %}{{ form.as_p }}<button
      class="btn btn-success w-100"
      type="submit"
    >
      Verify
    </button>
  </form>
  <form
    method="post"
    action="{% url 'accounts:resend_verification' %}"
    class="mt-3"
  >
    {% csrf_token %}<button class="btn btn-outline-light w-100" type="submit">
      Resend Code
    </button>
  </form>
</div>
{% endblock %}
